.App {
  background-color: rgb(199, 205, 216);
  min-height: 100vh;
  margin: 0;
}

.cardbutton a {
  font-weight: bold;
  font-size: 1.2em;
}

.cardbutton2 a {
  font-size: 1.2em;    
}

a {
  color: #24586d;
  text-decoration: none;
}

.logolink {
  color:rgb(199, 205, 216);
  font-weight: bold;
}